extends layout.pug

block content
    div.row
        div.col-sm-12
            h2= title
    div.row
        div.col-sm-4
            a.btn.btn-info(href='addReport') Agregar reporte
        div.col-sm-4
            a.btn.btn-info(href='viewReport') Ver reporte